<div class="container"> 

	<h1 class="header">Sense</h1>
	<p>Welcome to <strong>Sense!</strong></p>
	<p>Click here to <%= link_to "sign up", "#", class: "btn btn-primary btn-lg" %></p>


  <div class="row">
    <div class="col-sm-12 image1">
      <img src="https://static0.fitbit.com/simple.b-dis-png.hf3df9a0c3f063cf4412011ea928a5b30.pack?items=%2Fcontent%2Fassets%2Fonezip%2Fimages%2Fproducts%2Fflex%2Fflex_teal_store.png" alt="">
    </div>
    <div class="col-sm-12 image2">
      <img src="http://dyzup8v06s4q5.cloudfront.net/ver/14.10.17.171237/images/store/buy/health/up24/configure/red.png" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="http://assets.misfitwearables.com/assets/shine/shinedetails-baa723c1117d2f3fb8646e921e325b7f.png" alt="">
    </div>
  </div> 
</div> 



</section>

<footer>Copyright 2014</footer>



